.about_texts {
  text-align: center;
  background: #ed6b4d;
  padding: 1.5rem;
}
.about_text {
  letter-spacing: -0.25px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 300;
}
.our_rental_fleet_text {
  letter-spacing: -0.45px;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
}
.about_paragraph {
  letter-spacing: 0px;
  color: #ffffffd5;
  font-size: 1.2rem;
}

.about-history-paragraph {
  padding: 2rem 4rem 2rem 1rem;
  font-weight: 600;
  text-align: justify;
}
.flag {
  position: relative;
  height: 100%;
}
.flag img {
  width: 100%;
  height: auto;
}
.flag .group {
  height: 100%;
}
.about_history_section .flag .logo img {
  position: absolute;
  left: 52%;
  top: 45%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 56%;
}
.fleet_section .flag .logo img {
  position: absolute;
  left: 48%;
  top: 39%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 56%;
}
/* fleet  */
.fleet {
  background-color: #fef2ef;
  margin: 2rem;
}
/*  */
.fleet_paragraph {
  padding: 2rem;
  font-weight: 600;
  text-align: justify;
}
.flag .primary_logo {
  position: absolute;
  left: 12rem;
  top: 35rem;
  width: 23rem;
}
.fleet_section .about_car img {
  position: absolute;
  top: 22rem;
  right: 7rem;
  width: 75%;
}
