/* nav style  */
@media (max-width: 319px) {
  .home-image .primary_symbol {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .navbar .navbar-brand {
    margin-left: -6px;
  }
  .navbar-toggler .hamburger-toggle .hamburger {
    left: 65%;
  }
  .navbar .navbar-brand img {
    width: 200px;
  }
  /* home section start  */

  .unlock_big {
    font-size: 30px;
    line-height: inherit;
  }
  .home-text span.plan {
    font-size: 20px;
  }
  .home-image .multiple_car {
    width: 100%;
    margin-top: 3rem;
  }

  /* book now section start  */
  .book-now-section .wrapper-content {
    margin: 25px 0;
    padding: 1rem;
  }
  .single_blog_content img {
    padding: 0;
  }
  h2.blog_text {
    padding: 1rem 0;
  }
  p.single_blog_paragraph {
    padding: 0;
  }
  .readmore {
    padding: 1rem 0;
  }
  .single_blog_texts i {
    margin-left: 0;
  }

  /* vehicle model section  */
  #myBtnContainer .btn {
    margin-bottom: 0.5rem;
  }
  .car_details_text {
    padding: 1rem;
  }
  .main {
    padding: 1rem;
  }
  h1.our_rental_fleet_text {
    font-size: 1.5rem;
  }
  h3.vehicle_model_text {
    font-size: 1rem;
  }
  .vehicle_demo_section .main .content img {
    margin-top: 2rem;
    width: 100%;
  }

  .vehicle_demo_section {
    background-image: none;
  }
  .vehicle_demo_section .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .book-now-section .wrapper-content .booking-offer {
    right: -9px;
  }
  .book-now-section .wrapper-content .offer {
    position: absolute;
    right: -16px;
    top: 32px;
    border-left: 17px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 10px solid #252e62;
    border-left-width: 4px;
    transform: rotate(88deg);
  }
  .details_main {
    right: 0;
    transform: rotate(180deg) translateX(-50%);
    bottom: 0 !important;
    left: 40% !important;
    top: 100%;
  }
  .dollar {
    font-size: 2rem;
  }
  .client_name_div {
    position: absolute;
    left: 6rem;
    top: 0.5rem;
  }
  .single_testimonial_content {
    padding: 25px;
  }
  .contact_section {
    padding: 2rem 1rem 4rem 1rem;
  }
  .contact_section .contact_us {
    margin-bottom: 2rem;
  }
  .contact_section .form-control {
    margin-bottom: 1rem;
  }
  .form-row {
    margin-bottom: 0;
  }
  .clients_testimonial_text {
    font-size: 1.5rem;
  }
  .testimonial_paragraph {
    font-size: 16px;
  }
  /* blog  */
  h1.articles {
    font-size: 1.5rem;
  }
  h3.blog {
    font-size: 1rem;
  }
  p.blog_paragraph {
    font-size: 1rem;
  }
  h1.contact_us_text {
    font-size: 1.5rem;
  }
  h1.contact_form_text {
    font-size: 1.5rem;
  }

  /* display car  */

  .display_car {
    margin: 3.5rem 0;
  }
  .display_car .car_display {
    left: 0;
    bottom: -5rem;
    transform: translateX(-0%) !important;
  }
  .car_display img {
    width: 100%;
  }
  .second_footer_col {
    padding: 0;
  }
  footer .row > * {
    width: auto;
  }
  footer ul {
    padding-left: 0;
  }
  /* partnership  */
  .fleet_section {
    background-image: none;
  }
  .fleet_card {
    margin: 0;
  }
  .submit_fleet_button {
    text-align: center;
    margin: 2rem;
  }
  .fleet_info {
    border-radius: 22px 22px 0 0;
  }
  .company_info {
    border-radius: 0 0px 22px 22px;
  }

  /* about */

  .about_history_section {
    padding: 0rem;
  }
  .about-history-paragraph {
    padding: 1rem;
  }
  .fleet_paragraph {
    padding: 1rem;
  }
  .fleet_section .about_car img {
    top: 10rem;
    right: 3rem;
  }
}

@media (min-width: 481px) and (max-width: 575px) {
  .home-text span.plan {
    font-size: 20px;
  }
  .unlock_big {
    font-size: 30px;
    line-height: inherit;
  }
  .home-section {
    padding: 0 1rem;
  }
  h4.small_text {
    font-size: 19px;
  }
  .navbar .navbar-brand {
    margin-left: 9px;
  }
  .vehicle_demo_section {
    background-image: none;
  }
  .main {
    padding: 2rem;
  }
  .details_main {
    right: 0;
    transform: rotate(180deg) translateX(-50%);
    bottom: 0 !important;
    left: 40% !important;
    top: 100%;
  }
  .car_details_text {
    padding: 1.5rem;
  }
  h1.our_rental_fleet_text {
    font-size: 2rem;
  }
  h3.vehicle_model_text {
    font-size: 1.2rem;
  }
  .btn {
    margin-bottom: 0.5rem;
  }
  #myBtnContainer {
    margin: 1rem;
  }
  h1.articles {
    font-size: 2rem;
  }
  h3.blog {
    font-size: 1.2rem;
  }
  h1.contact_us_text {
    font-size: 2rem;
  }
  h1.contact_form_text {
    font-size: 2rem;
  }
  .display_car .car_display {
    position: absolute;
    left: 0;
    bottom: -6.5rem;
    transform: translateX(-0%) !important;
  }
  .clients_testimonial_text.clients_testimonial_text {
    font-size: 2rem;
  }
  .testimonial_section {
    padding: 1rem;
  }
  .testimonial_paragraph {
    font-weight: 500;
    font-size: 16px;
  }
  .quote_image {
    margin-top: 0.6rem;
  }
  .client_name_div {
    left: 7rem;
    top: 1rem;
  }
  .testimonial_section .owl-carousel .owl-item .quote_img {
    width: 95%;
  }
  .testimonial_section .owl-carousel .owl-item .Client_image {
    width: 25%;
  }
  .single_testimonial_content {
    padding: 25px;
  }
  .second_footer_col {
    padding-left: 0;
  }
  footer .row > * {
    width: auto;
  }
  footer .footer_car {
    width: 40%;
    margin: 3rem 0 0 10rem;
  }
  .contact_section .container {
    max-width: none;
    width: 100%;
  }
  .contact_section {
    padding: 4rem 1rem;
  }
  /* partnership  */
  .fleet_section {
    background-image: none;
  }
  .fleet_card {
    margin: 0;
  }
  .submit_fleet_button {
    text-align: center;
    margin: 2rem;
  }
  .fleet_info {
    border-radius: 22px 22px 0 0;
  }
  .company_info {
    border-radius: 0 0px 22px 22px;
  }

  /* about */

  .about_history_section {
    padding: 0rem;
  }
  .about-history-paragraph {
    padding: 1rem;
  }
  .fleet_paragraph {
    padding: 1rem;
  }
  .fleet_section .about_car img {
    top: 13rem;
    right: 4rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .navbar .navbar-brand {
    margin-left: 9px;
  }
  .unlock_big {
    font-size: 2.5rem;
    line-height: normal;
  }
  .home-section {
    padding: 0 1rem;
  }
  .home-section .container {
    max-width: none;
  }
  #myBtnContainer .btn {
    margin-bottom: 0.5rem;
  }
  .vehicle_demo_section {
    background-image: none;
  }
  .vehicle_demo_section .content img {
    margin-top: 3rem;
  }
  .details_main {
    transform: rotate(180deg) translateX(-50%);
    left: 45% !important;
    top: 100%;
  }

  .car_details_text {
    padding: 4rem 6rem 2rem 4rem;
  }
  .quote_image {
    margin-top: 0.6rem;
  }
  .client_name_div {
    left: 8rem;
    top: 1.5rem;
  }
  .testimonial_section .owl-carousel .owl-item .quote_img {
    width: 90%;
  }
  .testimonial_section .owl-carousel .owl-item .Client_image {
    width: 20%;
  }
  .single_testimonial_content {
    padding: 30px 25px;
  }

  .single_testimonial_content {
    padding: 25px;
  }
  .clients_testimonial_text {
    font-size: 2.5rem;
  }
  h1.articles {
    font-size: 2.5rem;
  }
  .container {
    width: 100%;
    max-width: none;
  }
  .display_car {
    margin: 6.5rem 0;
  }
  .display_car .car_display {
    position: absolute;
    left: 0;
    bottom: -9rem;
    transform: translateX(-0%) !important;
  }
  .contact_section .container {
    max-width: none;
    width: 100%;
  }
  .contact_section {
    padding: 4rem 1rem;
  }
  footer .row > * {
    width: auto;
  }
  footer .footer_car {
    max-width: 40%;
    margin: 3rem 0 0 12rem;
  }
  footer .container {
    width: 100%;
  }
  /* partnership  */
  .fleet_section {
    background-image: none;
  }
  .fleet_card {
    margin: 0;
  }
  .submit_fleet_button {
    text-align: center;
    margin: 2rem;
  }
  .fleet_info {
    border-radius: 22px 22px 0 0;
  }
  .company_info {
    border-radius: 0 0px 22px 22px;
  }

  /* about */

  .about_history_section {
    padding: 0rem;
  }
  .about-history-paragraph {
    padding: 1rem 1.5rem;
  }
  .fleet_paragraph {
    padding: 1rem 1.5rem;
  }
  .first_footer_content {
    margin: 2rem;
  }
  .fleet_section .about_car img {
    top: 18rem;
    right: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-brand {
    margin-left: 9px;
  }
  .unlock_big {
    font-size: 2.5rem;
    line-height: normal;
  }
  .home-section {
    padding: 0 1rem;
  }
  .home-section .container {
    max-width: none;
  }
  .main {
    padding: 0.5rem;
  }
  .background {
    padding: 0 1rem;
  }
  .vehicle_demo_section {
    background-image: none;
  }
  .details_main {
    right: 0;
    transform: rotate(180deg) translateX(-50%);
    bottom: 0 !important;
    left: 50% !important;
    top: 100%;
  }
  .testimonial_section .container {
    max-width: none;
    width: 100%;
  }

  .testimonial_section {
    padding: 1rem;
  }
  .testimonial_paragraph {
    font-weight: 600;
    font-size: 16px;
  }
  .quote_image {
    margin-top: 0.6rem;
  }
  .client_name_div {
    left: 5rem;
    top: 0.5rem;
  }
  .testimonial_section .owl-carousel .owl-item .quote_img {
    width: 95%;
  }
  .testimonial_section .owl-carousel .owl-item .Client_image {
    width: 20%;
  }
  .single_testimonial_content {
    padding: 25px;
  }
  .blog_section .container {
    max-width: none;
    width: 100%;
  }
  #myBtnContainer .btn {
    margin-bottom: 0.5rem;
  }

  .contact_section .container {
    max-width: none;
    width: 100%;
  }
  .contact_section {
    padding: 4rem 1rem;
  }
  .display_car {
    margin: 9rem 0;
  }
  .display_car .car_display {
    left: 0;
    bottom: -12.3rem;
    transform: translateX(-0%) !important;
  }
  .car_display img {
    width: 100%;
  }
  footer {
    padding: 1rem;
  }
  footer .row > * {
    width: auto;
  }
  footer .footer_car {
    max-width: 40%;
    margin: 2rem 0 0 8rem;
  }
  footer .container {
    max-width: 100%;
  }
  .second_footer_col {
    padding-left: 0;
  }
  footer ul {
    padding-left: 0;
  }
  .signature {
    position: absolute;
  }
  .recognition {
    margin-left: 6rem;
  }
  .single_footer_content {
    margin-top: 2rem;
  }
  /* partnership  */
  .fleet_section {
    background-size: 100%;
  }
  .fleet_card {
    margin: 2rem;
  }
  .submit_fleet_button {
    text-align: center;
    margin: 2rem;
  }
  .fleet_info {
    border-radius: 22px 22px 0 0;
  }
  .company_info {
    border-radius: 0 0px 22px 22px;
  }
  .svgtwo {
    right: 63rem;
    top: -10rem;
  }
  /* about */

  .about_history_section .container {
    max-width: 100%;
  }
  .about-history-paragraph {
    padding: 1rem 2rem;
  }
  .fleet_paragraph {
    padding: 1rem 2rem;
  }

  .fleet_section .container {
    max-width: 100%;
  }
  .fleet_section .about_car img {
    top: 22rem;
    right: 6rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar .navbar-brand {
    margin-left: 9px;
  }
  .home-section {
    padding: 0 1rem;
  }
  .home-section .container {
    max-width: 100%;
  }
  .home-text span.plan {
    font-size: 21px;
  }
  .unlock_big {
    font-size: 55px;
  }
  h4.small_text {
    font-size: 19px;
    line-height: normal;
  }
  #myBtnContainer .btn {
    margin-bottom: 0.5rem;
  }
  .main {
    padding: 0.8rem;
  }
  .background {
    padding: 0 1rem;
  }
  .car_details_text {
    padding: 2rem;
  }
  .details_main {
    right: 0;
    transform: rotate(90deg) translateX(-50%);
    bottom: 0 !important;
    left: 97% !important;
    top: 50%;
  }
  .testimonial_section .container {
    max-width: 100%;
    width: 100%;
    padding: 0 1.8rem;
  }
  .blog_section .container {
    max-width: 100%;
  }
  .client_name_div {
    left: 7.5rem;
    top: 1rem;
  }
  .contact_section {
    padding: 2rem 1rem;
  }
  .contact_section .container {
    max-width: 100%;
  }
  .display_car .car_display {
    bottom: -7rem;
  }
  footer .container {
    max-width: 100%;
    padding-left: 2rem;
  }
  .signature {
    margin-top: 5rem;
  }
  footer .footer_car {
    margin-top: 0;
  }
  /* partnership  */
  .fleet_section {
    background-size: 48%;
  }
  .fleet_card {
    margin: 2rem;
  }
  .submit_fleet_button {
    text-align: center;
    margin: 2rem;
  }
  .svgtwo {
    right: 122rem;
    width: 2%;
    top: -31rem;
  }
  /* about */

  .about_history_section .container {
    max-width: 100%;
  }
  .about-history-paragraph {
    padding: 2rem 2rem 2rem 0rem;
  }
  .fleet_paragraph {
    padding: 2.5rem 1rem;
  }

  .fleet_section .container {
    max-width: 100%;
  }
  .fleet_section .about_car img {
    top: 19rem;
    right: 4rem;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .home-section {
    padding: 0 2rem;
  }
  .home-section .container {
    max-width: 100%;
  }
  .home-text span.plan {
    font-size: 21px;
  }

  #myBtnContainer .btn {
    margin-bottom: 0.5rem;
  }
  .main {
    padding: 0.8rem;
  }
  .background {
    padding: 0 2rem;
  }
  .details_main {
    right: 0;
    transform: rotate(90deg) translateX(-50%);
    bottom: 0 !important;
    left: 97% !important;
    top: 50%;
  }
  .car_details_text {
    padding: 4rem 5rem 2rem 4rem;
  }
  .testimonial_section .container {
    max-width: 100%;
    width: 100%;
    padding: 0 2.8rem;
  }
  .blog_section .container {
    padding: 0 1.8rem;
    max-width: 100%;
  }
  .client_name_div {
    left: 6rem;
    top: 1rem;
  }
  .contact_section {
    padding: 2rem;
  }
  .contact_section .container {
    max-width: 100%;
  }
  .display_car .car_display {
    bottom: -7rem;
  }
  footer .container {
    max-width: 100%;
    padding-left: 3rem;
  }
  .signature {
    margin-top: 5rem;
  }
  footer .footer_car {
    margin-top: 0;
  }
  /* partnership  */
  .fleet_section {
    background-size: 49%;
  }
  .fleet_card {
    margin: 2rem;
  }
  .submit_fleet_button {
    text-align: right;
    margin: 2rem;
  }
  .svgtwo {
    right: 115rem;
    width: 18%;
    top: -33rem;
  }
  /* about */

  .about_history_section .container {
    max-width: 100%;
  }
  .about-history-paragraph {
    padding: 2rem 1rem 2rem 0rem;
    font-size: 1.2rem;
  }
  .fleet_paragraph {
    padding: 2.5rem 1rem;
    font-size: 1.2rem;
  }
  .fleet_section .container {
    max-width: 100%;
  }
  .fleet_section .about_car img {
    right: 4rem;
  }
}
@media (min-width: 1401px) and (max-width: 1900px) {
  .navbar {
    padding: 0.5rem 2rem;
  }
  .home-section .container {
    max-width: 100%;
    padding: 0 5rem;
  }
  h3.vehicle_model_text {
    font-size: 2rem;
  }
  h1.our_rental_fleet_text {
    font-size: 4rem;
  }
  p.vehicle_model_paragraph {
    font-size: 1.5rem;
  }
  #myBtnContainer .btn {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .main {
    padding: 0.8rem;
  }
  .background {
    padding: 0 4rem;
  }
  .details_main {
    right: 0;
    transform: rotate(90deg) translateX(-50%);
    bottom: 0 !important;
    left: 96% !important;
    top: 50%;
    border-left: 37px solid transparent;
    border-right: 39px solid transparent;
    border-bottom: 43px solid #fef2ef;
  }
  .car_details_text {
    padding: 5rem 7rem 4rem 2rem;
  }
  .dollar {
    font-size: 3.5rem;
  }
  .car_features {
    font-size: 1.3rem;
  }
  .book_now_buttons {
    font-size: 1.3rem;
  }
  .testimonial {
    font-size: 1.6rem;
  }
  .clients_testimonial_text {
    font-size: 4rem;
  }
  .testimonial_title_paragraph {
    font-size: 1.5rem;
  }
  .testimonial_section .container {
    max-width: 100%;
  }
  .testimonial_section .container {
    padding: 0 4.5rem;
  }
  .client_name_div {
    left: 7.3rem;
    top: 1.5rem;
  }
  h3.blog {
    font-size: 2rem;
  }
  h1.articles {
    font-size: 4rem;
  }
  p.blog_paragraph {
    font-size: 1.5rem;
  }
  .blog_section .container {
    max-width: 100%;
    padding: 0 4rem;
  }
  .contact_section .container {
    max-width: 100%;
  }
  .display_car {
    margin: 7rem 0;
  }
  .display_car .car_display {
    bottom: -10rem;
  }
  footer .container {
    max-width: 100%;
    padding: 0 5rem;
  }
  /* partnership  */
  .fleet_section {
    background-size: 47%;
  }
  .fleet_card {
    margin: 6rem 4rem 2rem 4rem;
  }
  .submit_fleet_button {
    text-align: right;
    margin: 3rem 4rem;
  }
  .svgtwo {
    right: 129rem;
    width: 10%;
    top: -27rem;
  }
  /* about */

  .about_history_section .container {
    max-width: 100%;
  }
  .about-history-paragraph {
    padding: 2.5rem 4rem 2rem 0rem;
    font-size: 1.4rem;
  }
  .fleet_paragraph {
    padding: 3rem 0rem 1rem 4.5rem;
    font-size: 1.3rem;
  }
  .fleet_section .container {
    max-width: 100%;
    padding: 0 9rem;
  }
  .fleet_section .flag {
    padding-right: 2.5rem;
  }
  .about_history_section .flag {
    padding-left: 2.5rem;
  }
}
