@import url("https://fonts.cdnfonts.com/css/general-sans");

body {
  font-family: "General Sans", sans-serif;
  position: relative;
}

/* navbar styling start  */

.navbar {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000021;
}
.navbar .dropdown-menu {
  --bs-dropdown-min-width: 113px;
}
/* hamburger menu  */
.navbar .navbar-collapse {
  flex-grow: 0;
  font-size: 15px;
  margin-right: 43px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown-menu.show {
  -webkit-animation: fadeIn 0.3s alternate;
  /* Safari 4.0 - 8.0 */
  animation: fadeIn 0.3s alternate;
}
.navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler .hamburger-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  z-index: 11;
  /* float: right; */
}
.navbar-toggler .hamburger-toggle .hamburger {
  position: absolute;
  transform: translate(-50%, -50%) rotate(0deg);
  left: 29%;
  top: 50%;
  width: 50%;
  height: 50%;
  pointer-events: none;
}
.navbar-toggler .hamburger-toggle .hamburger span {
  width: 100%;
  height: 4px;
  position: absolute;
  background: #333;
  border-radius: 2px;
  z-index: 1;
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
  left: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger span:first-child {
  top: 10%;
  transform-origin: 50% 50%;
  transform: translate(0% -50%) !important;
}
.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}
.navbar-toggler .hamburger-toggle .hamburger span:last-child {
  left: 0px;
  top: auto;
  bottom: 10%;
  transform-origin: 50% 50%;
}
.navbar-toggler .hamburger-toggle .hamburger.active span {
  position: absolute;
  margin: 0;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
  top: 45%;
  transform: rotate(45deg);
}
.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
  left: 50%;
  width: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
  top: 45%;
  transform: rotate(-45deg);
}

.navbar .dropdown-toggle::after {
  color: #ed6b4d;
  margin-left: 7px;
}
.navbar .navbar-brand {
  margin-left: 36px;
}

/* home section start  */
.home-section {
  margin: 3rem 0;
  position: relative;
}
.home-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home-image .multiple_car {
  width: 100%;
  opacity: 1;
  margin-top: 7.4rem;
}
.home-image .primary_symbol {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.unlock_big {
  font: normal normal 600 64px/60px General Sans;
  letter-spacing: -0.45px;
  color: #3b3b3b;
}
.unlock_big span {
  color: #ed6b4d;
}
.home-text span.plan {
  font: normal normal normal 25px/34px General Sans;
  color: #262f63;
}
h4.small_text {
  font: normal normal normal 23px/31px General Sans;
  letter-spacing: 0px;
  color: #7d7d7d;
}

/* book now section  */

.book-now-section .wrapper-content {
  background: #ed6b4d 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 18px #00000012;
  border-radius: 8px;
  padding: 1.5rem 1.5rem;
  position: relative;
  margin: 50px;
}
.book-now-section .wrapper-content .offer {
  position: absolute;
  right: -16px;
  top: 32px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 13px solid #252e62;
  border-left-width: 19px;
  transform: rotate(-56deg);
}

.book-now-section .wrapper-content .booking-offer {
  position: absolute;
  right: -15px;
  top: -13px;
  padding: 10px;
  border-radius: 4px 4px 0 4px;
  color: #fff;
  background: #252e62;
}
.book-now-section .wrapper-content label {
  margin-top: 15px;
}
/* 
.select_car_type {
  padding: 1rem 0;
}
.pick_up_location_div {
  padding: 1rem 0rem;
} */
.drop_of_location_text {
  letter-spacing: 0px;
  color: #f9f9f9;
}
.select_car_type_text {
  color: #f9f9f9;
}
.pick_up_location_text {
  color: #f9f9f9;
}
.pick_up_date_text {
  color: #f9f9f9;
}

.book_now_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.book_now_div button {
  padding: 10px 30px;
  border-radius: 8px;
  color: #ffffff;
  text-shadow: 0px 3px 6px #00000029;
  background: #252e62;
  border-width: 0px;
  margin-top: 19px;
}

/* vehicle model text start  */

.vehicle_demo_section {
  position: relative;
}
.vehicle_demo_section {
  background-image: url(/images/Path\ 33.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  position: relative;
  z-index: 6;
  /* transform: translate(-50%, -50%) rotate(0deg); */
  background-position-y: translate(50%);
}
/* .background .bg_img {
  position: absolute;
  width: 42rem;
  top: 9rem;
  right: -8rem;
} */

.vehicle_demo_section .modal-content {
  border-radius: 22px;
  padding: 2rem;
}

.vehicle_models_texts {
  text-align: center;
  background: #ed6b4d;
  padding: 1.5rem;
}
h3.vehicle_model_text {
  letter-spacing: -0.25px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 300;
}
h1.our_rental_fleet_text {
  letter-spacing: -0.45px;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
}
p.vehicle_model_paragraph {
  letter-spacing: 0px;
  color: #ffffffd5;
}

/* Vehicle Models */

.main {
  padding: 3.3rem;
  min-height: 545px;
}

.column {
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 14px;
  cursor: pointer;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #00000029;
  border-radius: 4px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #252e62;
  color: white;
}
#myBtnContainer {
  text-align: center;
  margin-top: 1rem;
}
/* function end  */
button.book_now_text {
  padding: 10px 30px;
  color: #ffffff;
  border-width: 0px;
  margin-top: 19px;
  text-shadow: 0px 3px 6px #00000029;
  background: transparent linear-gradient(90deg, #ed6b4d 0%, #ff6f00 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 4px;
  margin-right: 0.3rem;
}
button.book_now_number {
  padding: 10px 30px;
  color: #ffffff;
  border-width: 0px;
  margin-top: 19px;
  background: #252e62;
  text-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
}

.car_details_text {
  background: #fef2ef;
  padding: 4rem 10rem 2rem 4rem;
  border-radius: 8px;
  position: relative;
}
.dollar {
  color: #ed6b4d;
  font-weight: 600;
  font-size: 3rem;
}
.rent_text {
  color: #7d7d7d;
}
.car_features {
  list-style: none;
  padding-left: 0;
  color: #232323;
  font-weight: 600;
}
.vehicle_demo_section .main .content img {
  width: 100%;
}
/* .Cadillac_XT6 img {
  width: 45rem;
} */
.details_main {
  position: absolute;
  left: 32rem;
  top: 11rem;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 22px solid #fef2ef;
  border-left-width: 20px;
  transform: rotate(90deg);
}

/* testimonial section */
.testimonial_section {
  background: #f8f8f8;
  padding: 2rem 0;
  position: relative;
}

.testimonial {
  letter-spacing: -0.22px;
  color: #4c537e;
  font-size: 1.3rem;
}
.testimonial_text {
  text-align: center;
  padding: 1rem;
}
.clients_testimonial_text {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.45px;
  color: #000000;
}
.testimonial_title_paragraph {
  letter-spacing: 0px;
  color: #414141;
}

.single_testimonial_content {
  background: #ffffff;
  padding: 30px 25px;
  box-shadow: 0px 1px 0px #00000015;
  border-radius: 19px;
  position: relative;
}
.testimonial_paragraph {
  color: #414141;
  font-weight: 550;
  font-size: 18px;
}
.client_details {
  position: relative;
  display: flex;
}
.testimonial_section .owl-carousel .owl-item .Client_image {
  width: 25%;
  border-radius: 6rem;
}
.testimonial_section .owl-carousel .owl-item .quote_img {
  width: 75%;
}
.client_name_div {
  position: absolute;
  left: 6rem;
  top: 1rem;
}
.client_name {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-weight: 600;
}
.client_level {
  color: #848484;
  font-size: 14px;
}
.quote_image {
  margin-top: 1.5rem;
}
.testimonial_section .owl-theme .owl-dots .owl-dot.active span {
  background-color: #fb6e13;
}
.blog_section .owl-theme .owl-dots .owl-dot.active span {
  background-color: #fb6e13;
}
/* Blog section start  */

.blog_text_titles {
  text-align: center;
  padding: 1.5rem;
  background-color: #ed6b4d;
}

h1.articles {
  letter-spacing: -0.45px;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
}
h3.blog {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 300;
}
p.blog_paragraph {
  letter-spacing: 0px;
  color: #ffffffd5;
  font-size: 1.2rem;
}

.single_blog_content {
  margin: 2.5rem 0;
  background: #ffffff;
  box-shadow: 0px 5px 6px #0000000f;
  border-radius: 10px;
}

.single_blog_content img {
  width: 100%;
  padding: 16px 16px 0px 16px;
}
h2.blog_text {
  color: #414141;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 1rem 0 1rem;
}
p.single_blog_paragraph {
  color: #888888;
  font-size: 0.9rem;
  padding: 0 1rem;
}
.readmore {
  padding: 1rem;
}
.single_blog_texts {
  padding: 0 0 1rem 0;
}
.single_blog_texts i {
  color: #fb751f;
  margin-left: -1rem;
}

/* contact section  */

.contact_section {
  background: #fef2ef;
  padding: 4rem;
}
h1.contact_us_text {
  letter-spacing: -0.31px;
  color: #000000;
  font-weight: 600;
  font-size: 2.4rem;
}
h1.contact_form_text {
  letter-spacing: -0.31px;
  color: #000000;
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

.address_text ul {
  list-style: none;
  padding-left: 0;
}
.contact_single_head {
  color: #414141;
  font-size: 17px;
  font-weight: 600;
}
.contact_single_body {
  color: #414141;
  font-size: 16px;
}
.single_contact_us_texts {
  margin-bottom: 1.3rem;
}

/* contact form  */

.contact_section textarea.form-control {
  min-height: calc(1.5em + 0.75rem + calc(var(--bs-border-width) * 2));
  height: 125px;
}
.contact_section .form-control {
  border: none;
  box-shadow: 0px 3px 6px #00000008;
  margin-bottom: 1rem;
}

.send_message {
  text-align: right;
  margin-top: 20px;
}
.send_message button {
  background: transparent linear-gradient(90deg, #ed6b4d 0%, #ff6f00 100%) 0% 0%;
  border-width: 0px;
  border-radius: 4px;
  color: #ffffff;
  text-shadow: 0px 3px 6px #00000029;
  padding: 10px 20px;
  font-size: 0.84rem;
  font-weight: 600;
}

/* footer section  */

footer {
  background-color: #ed6b4d;
  color: #ffffff;
  position: relative;
}
.first_footer_content {
  margin-top: 2.5rem;
}
.single_footer_content {
  margin-top: 4rem;
}
.single_footer_content ul {
  list-style: none;
}
.single_footer_content li {
  padding-bottom: 0.4rem;
}
.second_footer_col {
  padding-left: 4rem;
}

footer .footer_car {
  width: 50%;
  margin: 3rem 0 0 5rem;
}
.design_by {
  padding-left: 32px;
  font-size: 14px;
  margin-top: 0.2rem;
}
.sp_logo {
  width: 100%;
  padding-bottom: 0.5rem;
}
.vision_white_logo {
  padding-bottom: 1rem;
}
.signature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* display car  */

.display_car {
  background-color: white;
  margin: 5rem 0;
  position: relative;
  z-index: 2;
}

.display_car .car_display {
  position: absolute;
  left: 50%;
  bottom: -7.36rem;
  transform: translateX(-50%) !important;
  right: inherit;
}
.car_display img {
  width: 100%;
}

.blog_section .owl-theme .owl-nav {
  display: none;
}
.blog_section .owl-dots {
  margin-bottom: 31px;
}
